################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs
/roms
/x64
/ArcadeEmulator/x64
/ArcadeEmulator/x64
/imgui.ini
